@page "/"

<h1>About <i style="color:rgba(255,195,18,1);">The Stickies</i></h1>

<div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="/remember.svg" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Your notes. Organized. Effortless.</h4>
            <h4 class="subheading">Sign up for free</h4>
            <p class="text-muted">
                Take notes anywhere. Find information faster. Share ideas with anyone. Meeting notes, web pages, projects, to-do lists—with The Stickies as your note taking app, nothing falls through the cracks.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Stay organized, wherever you are</h4>
            <h4 class="subheading">Be effective.</h4>
            <p class="text-muted">
                Plan, keep records, and manage projects from any device–even offline.From projects and meetings to receipts and personal papers, they’re always at your fingertips.
            </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="/scrum.svg" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="/teamwork.svg" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Collaborate with your team</h4>
            <h4 class="subheading">Work efficiently.</h4>
            <p class="text-muted">
                Manage projects, deadlines, clients, and meetings with ease.Find important information faster, so your project is completed on time.Stay in sync with your team, no matter where they are.
            </p>
        </div>
    </div>
</div>
<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">How it works</h2>
        <p class="text-center text-muted h5">Have best, pay less!</p>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">Add Sections</h3>
                        <p class="card-text">Sections represent our widest and top-level content category, such as: Training, School, Work etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Create pages</h3>
                        <p class="card-text">Every section is divided into pages as you see fit. Page represent the on-going activity for which you plan to take notes.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title">Push notes</h3>
                        <p class="card-text">For one page, you push notes. Save your meeting time. Create To-Do notes. Short remember notes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
